[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/NvChad/NvChad
[submodule "spicetify-themes"]
	path = spicetify-themes
	url = https://github.com/spicetify/spicetify-themes.git
